<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.board.mapper.BoardMapper">

	<select id="selectBoardList"  parameterType="BoardDTO" resultType="BoardDTO" >
		WITH RECURSIVE CTE AS (
			SELECT 
					IDX, PARENT_IDX, REORDER, TITLE, CONTENT, WRITER, VIEW_CNT, NOTICE_YN, SECRET_YN, DELETE_YN, INSERT_TIME, CONCAT(LPAD(IDX,(SELECT LENGTH(MAX(IDX)) FROM tb_board), '0')) AS PATH, 1 AS DEPTH
		    FROM 
		    		TB_BOARD 
		    WHERE 
		    		PARENT_IDX = 0
		    
		    UNION ALL
		    
		    SELECT 
		    		T.IDX, T.PARENT_IDX, T.REORDER, T.TITLE, T.CONTENT, T.WRITER, T.VIEW_CNT, T.NOTICE_YN, T.SECRET_YN, T.DELETE_YN, T.INSERT_TIME, CONCAT(C.PATH, '-', T.REORDER) AS PATH, C.DEPTH + 1 AS DEPTH
		    FROM 
		    		TB_BOARD T
		    INNER JOIN 
		    		CTE AS C
		    ON 
		    		T.PARENT_IDX = C.IDX
		)
		SELECT 
				*, ROW_NUMBER() OVER(ORDER BY SUBSTRING(PATH,1,(SELECT LENGTH(MAX(IDX)) FROM tb_board)) , PATH DESC) AS NUM
		FROM 
				CTE
		WHERE
				DELETE_YN = 'N'
		<if test="searchKey != null and searchKey != '' and searchVal != null and searchVal != ''">
			<choose>			
				<when test="searchKey == 'title'">
					AND TITLE LIKE CONCAT('%', #{searchVal}, '%')
				</when>
				<when test="searchKey == 'writer'">
					AND WRITER LIKE CONCAT('%', #{searchVal}, '%')
				</when>
				
			</choose>
		</if>
		ORDER BY 
				NOTICE_YN DESC,SUBSTRING(PATH,1,(SELECT LENGTH(MAX(IDX)) FROM tb_board)) DESC, PATH
		LIMIT #{rowNum} OFFSET #{start}
	</select>

	<select id="selectBoardDetail" parameterType="Integer" resultType="BoardDTO">
		SELECT 
				  IDX			/** 번호(PK) */
				, PARENT_IDX	/** 부모idx */
				, TITLE			/** 제목 */
				, CONTENT		/** 내용 */
				, WRITER		/** 작성자 */
				, VIEW_CNT		/** 조회수 */
				, NOTICE_YN		/** 공지글 여부 */
				, SECRET_YN		/** 비밀글 여부 */
				, DELETE_YN		/** 삭제 여부 */
				, INSERT_TIME	/** 등록 시간 */
				, UPDATE_TIME	/** 수정 시간 */
				, DELETE_TIME	/** 삭제 시간 */
		  FROM 
		  		TB_BOARD
		 WHERE 
		 		DELETE_YN = 'N'
		   AND 
		   		IDX = #{idx} 
	</select>

	<insert id="insertBoard" parameterType="BoardDTO">
		INSERT INTO TB_BOARD (
			  IDX			/** 번호(PK) */
			, TITLE			/** 제목 */
			, CONTENT		/** 내용 */
			, WRITER		/** 작성자 */
			, PSWD			/** 비밀번호 */
			, VIEW_CNT		/** 조회수 */
			, NOTICE_YN		/** 공지글 여부 */
			, SECRET_YN		/** 비밀글 여부 */
			, DELETE_YN		/** 삭제 여부 */
			, INSERT_TIME	/** 등록 시간 */
			, UPDATE_TIME	/** 수정 시간 */
			, DELETE_TIME	/** 삭제 시간 */
			, PARENT_IDX	/** 부모번호 */
			, REORDER		/** 그룹 내 순서 */
		) VALUES (
				  #{idx}
				, #{title}
				, #{content}
				, #{writer}
				, #{pswd}
				, 0
				, #{noticeYn, typeHandler=com.board.handler.BooleanHandler}
				, #{secretYn, typeHandler=com.board.handler.BooleanHandler}
				, 'N'
				, NOW()
				, NULL
				, NULL
				, #{parentIdx}
				, #{reorder}
			)
	</insert>
	
	<update id="updateBoard" parameterType="BoardDTO">
		UPDATE 
				TB_BOARD
		   SET   
		   		 UPDATE_TIME = NOW()
		       , TITLE = #{title}
		       , CONTENT = #{content}
		       , WRITER = #{writer}
		       , PSWD = #{pswd}
		       , NOTICE_YN = #{noticeYn, typeHandler=com.board.handler.BooleanHandler}
		       , SECRET_YN = #{secretYn, typeHandler=com.board.handler.BooleanHandler}
		 WHERE 
		 		IDX= #{idx}
	</update>
	
	<update id="deleteBoard" parameterType="Integer">
		UPDATE 
				TB_BOARD
		   SET   
		   		 DELETE_YN = 'Y'
		       , DELETE_TIME = NOW()
		 WHERE 
		 		IDX=#{idx}
	</update>
	
	<select id="selectBoardTotalCount" parameterType="boardDTO" resultType="int">
		SELECT
				COUNT(*)
		  FROM
		  		TB_BOARD
		 WHERE
		 		DELETE_YN = 'N'
		 <if test="searchKey != null and searchKey != '' and searchVal != null and searchVal != ''">
			<choose>			
				<when test="searchKey == 'title'">
					AND TITLE LIKE CONCAT('%', #{searchVal}, '%')
				</when>
				<when test="searchKey == 'writer'">
					AND WRITER LIKE CONCAT('%', #{searchVal}, '%')
				</when>
			</choose>
		 </if> 
	</select>
	
	<update id="setViewCnt" parameterType="Integer">
		UPDATE 
				TB_BOARD
   		   SET 
   		   		VIEW_CNT = VIEW_CNT+1
 		 WHERE 
 		 		IDX = #{idx}
	</update>
	
	<select id="getPswd" parameterType="Integer" resultType="string">
		SELECT
				PSWD
		  FROM
		  		TB_BOARD
		  WHERE
		  		IDX=#{idx}
		  	AND 
		  		SECRET_YN = 'Y'
	</select>
	
	<select id = "getLastIdx" resultType = "Integer" >
		SELECT
				IFNULL(MAX(IDX),0) + 1 AS IDX
		  FROM
		  		TB_BOARD
	</select>
	
	<select id="getReorder" parameterType="Integer" resultType = "Integer" >
		SELECT
				IFNULL(MAX(reorder),0) + 1 AS reorder
		  FROM
		  		TB_BOARD
		 WHERE
		 		PARENT_IDX = #{parentIdx}
	</select>
	
	<select id="selectChildIdx" parameterType="Integer" resultType="BoardDTO" >
		WITH RECURSIVE CTE AS (
			SELECT
					IDX
			  FROM
					TB_BOARD
			 WHERE
					IDX = #{IDX}
		            
			UNION ALL
		    
		    SELECT
					T.IDX
			  FROM
					TB_BOARD T
			  INNER JOIN 
			  		CTE AS C
		      ON 
		      		T.PARENT_IDX = C.IDX
		)
		SELECT 
				IDX 
		  FROM 
		  		CTE
	</select>
	
	<update id="updateChild" parameterType="BoardDTO">
		UPDATE
				TB_BOARD
		   SET
		   		NOTICE_YN = #{noticeYn, typeHandler=com.board.handler.BooleanHandler}
		 WHERE
		 		IDX = #{idx}
	</update>
	
</mapper>